.client-wrapper{
  background-image: url('../../assets//client2.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  background-blend-mode: darken;
  background-color: rgb(225, 229, 231);
}
.clients-heading{
  text-align: center;
  margin: 40px;
  font-size: 50px;
}
.client-main-container{
  width: 1400px;
  margin: auto;
}
.clients-list-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}
.client-div{
  border: 1px solid black;
  width: 25%;
  height: 200px;
  margin: 40px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgb(162, 188, 200);
  background-color:  rgb(225, 229, 231, 0.5);
}
@media screen and (max-width: 768px){
  .clients-heading{
    font-size: 50px;
  }
  .client-main-container{
    width: 760px;
  }
  .client-div{
    margin: 22px;
  }
}
@media screen and (max-width: 480px){
  .clients-heading{
    font-size: 40px;
  }
  .client-main-container{
    width: 460px;
  }
  .client-div{
    margin: 10px;
  }
}