
.footer-container{
  display: flex;
  flex-direction: column;
  padding-top: 80px ;
  justify-content: center;
  align-items: center;
  background-color: rgb(27, 113, 174) ;
}
.footer-logo-container{
  margin-bottom: 20px;
  border-bottom: 1px solid white;
  width: 70%;
}

.footer-logo{
  margin: auto;
  width: 400px;
  display: block;
  padding-bottom: 50px;
  border-radius: 10px;
}
.footer-info ul{
  display: flex;
  align-items: center;
}
.footer-info ul li{
  list-style: none;
  padding: 10px 40px;
  color: white;
  font-size: 25px;
}
.icon{
  width: 25px;
  margin: 10px;
  color: white;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}
.list-item{
  display: flex;
  align-items: center;
}
.copyright-para{
  color: white;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 18px;
}